* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container {

      width: 100vw;
      height: 100vh;
      display: flex;
      overflow: hidden;

      .chat-list {
            background-color: #202020;
            height: 100%;
            width: 300px;
            padding: 40px 0px;

            &__information {
                  display: flex;
                  align-items: center;
                  padding: 40px 20px;
                  padding-bottom: 10px;

                  img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        width: 50px;
                        margin-right: 10px;

                  }

                  span {
                        color: antiquewhite;
                  }

            }

            &__search {

                  background-color: #2b2c32;


                  margin-top: 20px;
                  padding: 6px 10px;
                  display: flex;
                  align-items: center;
                  color: #fff;
                  border-radius: 7px;
                  margin: 0px 20px;
                  margin-top: 15px;

                  i {
                        margin-right: 10px;
                        font-size: 8px;
                  }

                  input {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-size: 15px;

                  }
            }

            &__item {

                  margin-top: 20px;
                  flex-grow: 1;
                  overflow: scroll;

                  .item {

                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        
                        &:hover {
                              background-color: #111;
                        }

                        img {
                              width: 40px;
                              height: 40px;
                              border-radius: 50%;
                              margin-right: 10px;
                              width: 50px;


                        }

                        &__detail {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;

                              h4 {
                                    color: #fff;
                                    margin-bottom: 4px;
                              }

                              span {



                                    font-size: 12px;
                                    color: #696969;
                              }
                        }



                  }


            }

      }

      .chat-detail {
            height: 100%;
            flex-grow: 1;
            overflow-y: scroll;
            background-color: black;
      }
}