#divv {

    bottom: 0;
    right: 0;
    position: fixed;

    color: blue;
    background-color: black;
}

// Display: flex;
// Position: relative - absolute - fixed
// Flex-directions: column: - nó sắp xếp các mảng từ ngang -> dọc

// justify-content: center; - căn chỉnh theo hướng ngang ở vị trí center
// align-items: center; ngc lại

// nav - ul - li : tạo thanh công cụ 